body {
  min-height: 100vh;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 50px 100px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: green;
  box-shadow: 0px 2px 10px black;
  border-radius: 20px;
}
